@model IEnumerable<OutletViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">
    <div class="d-flex">
        <div class="p-2 flex-grow-1 mr-1">
            <h2>Outlets</h2>
        </div>
        <div class="p-2">
            @if (_urlHelper.IsRoleAdmin())
            {
                <a asp-action="Create" asp-controller="Outlets" class="btn btn-success float-right">+ Add New Outlet</a>
            }
        </div>
    </div>
    <br>
    <div class="list-group" id="myList">
        @foreach (var item in Model)
        {
            <a class="list-group-item text-body text-decoration-none">
                <div class="row">
                   @* <a href="@_urlHelper.RolebaseOutletUrl(item.Id)">*@
                        <div class="col-sm-2">
                            <img class="img-fluid" src="/@item.LogoUrl" alt="" />
                        </div>
                        <div class="col-sm-7 align-content-center ">
                            <h4>@item.Name</h4>
                            <small>@item.TotalPlaylists Playlists</small><br />
                            <small>@item.TotalDevices Registered Devices</small>
                        </div>
                    <div class="col-sm-3">
                        <div class="form-inline">
                            @if (_urlHelper.IsRoleAdmin())
                            {
                                <div>
                                    <button class="btn btn-info btn-sm mr-2" onclick="location.href='@Url.Action("Edit", "Outlets", new { id = item.Id })'"> Manage </button>
                                </div>
                            }
                            @{
                                // TODO: Remove this only for dj Role || _urlHelper.IsRoleAdmin()
                            }
                            @if (_urlHelper.IsRoleDj() || _urlHelper.IsRoleAdmin())
                            {
                                <div>
                                    <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Index", "Playlist", new { id = item.Id })'"> Schedule </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
