@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <h2>Outlets</h2>
    <div class="d-flex" >
        <div class="p-2 flex-grow-1 mr-1">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border " type="search" placeholder="search" id="example-search-input">
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                </span>
            </div>
        </div>
        <div class="p-2">      
        
            <button type="button" onclick="location.href='@Url.Action("Create", "Outlet")'" class="btn btn-primary float-right">+ Add New Outlet</button>
        
        </div>
    </div>
    <br>
    <div class="list-group" id="myList">
        @{ string[] outlets = { "Baladna", "Basta", "Build It Burger", "Chai Halib", "Damasca One", "Debs w Remman", "Gahwetna", "Jwala", "Karaki", "La Casa", "Maia", "Meatsmith", "Mokarabia", "Orient Pearl", "Palma", "Remman Cafe", "Sazeli Logo", "SMAT", "USTA" };}
        @foreach (var outlet in outlets)
        {
            var url = "/Images/" + outlet + ".png";
            <a href ="#" class="list-group-item text-body text-decoration-none">
                <div class="row">
                    <div class="col-sm-2">
                        <img class="img-fluid" src="@url" alt="" />
                    </div>
                    <div class="col-sm-7 align-content-center h-100">
                        <h4>@outlet</h4>
                        <small>4 Playlists</small><br />
                        <small>3 Registered Devices</small>
                    </div>
                    <div class="col-sm-3 align-content-end">
                        <button class="btn btn-outline-primary btn-sm" onclick="location.href='@Url.Action("Edit", "Outlet")'" > Manage </button> &nbsp;
                        <button class="btn btn-outline-primary btn-sm" onclick="location.href='@Url.Action("Schedule", "Outlet")'"> Schedule </button>
                    </div>
                </div>
            </a>
        }

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
