@model PlaylistIndexModel
@{
    ViewData["Title"] = "AddTrack";
    ViewBag.Show = true;
    ViewBag.OutletId = Model.OutletId;
}
@section styles{
    <link href="~/css/jquery.timepicker.min.css" rel="stylesheet" />
}
<div class="white-color">
    <div class="container row">
        <div class="col-sm-6 border p-5">
            <h4 class="">Edit Playlist</h4><br />
            <form asp-action="Edit" onsubmit="return onPlaylistSubmitClick(this);" asp-route-id="@Model.Id">
                <input type="hidden" asp-for="OutletId" />
                <div class="form-group">
                    <label asp-for="Name" for="name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Enter name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="schedule">Playlist Schedule:</label><br />
                    <select class="form-control" asp-for="Schedule" id="schedule">
                        <option disabled selected>Please Select</option>
                        <option value="@Schedule.Daily">Daily</option>
                        <option value="@Schedule.AlternativeDay">Alternate Days</option>
                        <option value="@Schedule.Weekly">Weekly</option>
                        <option value="@Schedule.Yearly">Yearly</option>
                    </select>
                    <span asp-validation-for="Schedule" class="text-danger"></span>
                </div>
                <div class="form-group" id="evenOrdays" style="display:none;">
                    <label for="sel3">Even or Odd Days?</label>
                    <select class="form-control" asp-for="Frequency" id="evenOrday">
                        <option disabled selected>Please Select</option>
                        <option value="Even Days">Even Days</option>
                        <option value="Odd Days">Odd Days</option>
                    </select>
                    <span id="errevenOrday" class="text-danger" style="display:none;">Please select Frequency</span>
                </div>

                <div class="form-group" id="weekdays" style="display:none;">
                    <label for="sel1">Which day?</label>
                    <select class="form-control" asp-for="Frequency" id="weekday">
                        <option disabled selected>Please Select</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <span id="errweekdays" class="text-danger" style="display:none;">Please select Frequency</span>
                </div>

                <div class="form-group" id="specificDates" style="display:none;">
                    <label for="sel2">Which Date?</label>
                    <input asp-for="Frequency" class="form-control date-picker" id="specificDate">
                </div><br />
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
        <!--  Add Track Component-->
        @await Component.InvokeAsync("AddTrack", new { playlistId = Model.Id })
    </div>
    <!--  Track List Component-->
    @await Component.InvokeAsync("TrackList", new { playlistId = Model.Id })
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        var scheduleValues = "@Model.Schedule";
    </script>
    <script src="~/js/Views/Playlit/Playlist.js"></script>
    <script src="~/js/Views/Playlit/Tracks.js"></script>
}
