@model IEnumerable<MusicController.DTO.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>User Management</h1>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAuthorized)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.IsAuthorized)
                    {
                        <span class="text-success">Authorized</span>
                    }
                    else
                    {
                        <span class="text-danger">Unauthorised<span class="text-danger">*</span> </span>
                    }
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
