@model IEnumerable<WeeklyScheduleList>
<div class="container mt-5 pt-5 border-1 border-info">
    <h3>Schedule</h3>
    <div class="mt-5"></div>
    <div class="row">
        @if (!Model.Any())
        {
            <span class="text-success">No playlist found</span><br />
        }
        @{ bool isFirstElement = true;}
        @foreach (var item in Model)
        {
            if (isFirstElement)
            {
                <div class="col-md-2 col-sm-6 p-5 border border-success bg-white">
                    <span class="text-success">Today</span><br /><br />
                    <h5 class="text-success"> @item.Name  </h5>
                    <h6 class="text-success">(@item.Schedule)</h6>
                </div>
                isFirstElement = false;
            }
            else
            {
                <div class="col-md-2 col-sm-6 p-5 border bg-light">
                    <span>@Html.DisplayFor(modelItem => item.Date)</span><br /><br />
                    <h5> @item.Name </h5>
                    <h6>(@item.Schedule) </h6>
                </div>
            }
        }
    </div>
</div>
<br />
<br />
<br />
<br />